<div class="app_container my-dog-background">
  <div class="">
    <div class="center-everything">

      <div class="bulles">
        <%= link_to destroy_user_session_path, data:{turbo_method: :delete} do %>
          <%= cl_image_tag @dog.photo.key, class:"avatar-large"%>
        <% end %>
        <h2> <%= @dog.name %> </h2>
        <p><%= @dog.breed %>  </p>
        <p><i class="fa-solid fa-venus-mars"></i>  <%= @dog.sexe %> de <%= "#{@dog.age} #{@dog.age > 1 ? "ans" : "an"}"  %> </p>
      </div>

      <div class="description-mydog">
        <p><strong>Activité :  </strong> </p>
          <% if @dog.energy > 3 %>
          <%# filtre balade : difficulté %>
            <p> <i class="fa-solid fa-circle-check positive"></i> Balades dynamiques  </p>
          <% else %>
            <p><i class="fa-solid fa-circle-xmark negative"></i> Balades dynamiques </p>
          <% end %>

          <%# filtre balade : distance %>
          <% if @dog.size == "Moyen" || @dog.size == "Grand"%>
            <p> <i class="fa-solid fa-circle-check positive"></i> Longues distances </p>
          <% else %>
            <p><i class="fa-solid fa-circle-xmark negative"></i> Longues distances </p>
          <% end %>

        <p><strong>Ententes :  </strong> </p>
        <div class="description-block">

          <% if @dog.good_with_others_dogs > 3 %>
          <%# pour nourrir un peu la compatibilité tindog %>
            <p> <i class="fa-solid fa-circle-check positive"></i> Mâles et femelles </p>
          <% else %>
            <p><i class="fa-solid fa-circle-xmark negative"></i> Chiens non stérilisés  </p>
          <% end %>

          <% if @dog.good_with_strangers > 3 %>
            <p> <i class="fa-solid fa-circle-check positive"></i> Inconnus </p>
          <% else %>
            <p><i class="fa-solid fa-circle-xmark negative"></i> Inconnus </p>
          <% end %>

          <% if @dog.good_with_chidren > 3 %>
          <%# pour nourrir un peu le tindog %>
            <p> <i class="fa-solid fa-circle-check positive"></i> Petits et grands chiens </p>
          <% else %>
            <p><i class="fa-solid fa-circle-xmark negative"></i> Chiens de petite taille </p>
          <% end %>


        </div>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>
