
<div class="app_container tindog-background">

  <div class="tinder" data-controller="tindogs">
    <div class="tinder--status">
      <i class="fa fa-remove"></i>
      <i class="fa fa-heart"></i>
    </div>
    <div class="tinder--cards">
      <% @dogs.each do |dog| %>
        <div class="tinder--card" data-tindogs-target="card" data-receiver-id="<%= dog.id %>">
          <%= cl_image_tag dog.photo.key, class:"avatar-large", crop: :fill %>
          <h3><%= dog.name %></h3>
          <h4>
            <%= "#{dog.sexe}
            #{dog.neutered ? (dog.sexe == "Femelle" ? "stérilisée": "stérilisé") : (dog.sexe == "Femelle" ? "non stérilisée": "non stérilisé")}
            de #{dog.age} ans." %>
          <h4>
          <p>
            <%= "#{dog.name} est un #{dog.breed} #{dog.energy < 3 ? "plutôt calme": "qui a besoin de se dépenser"}, et qui
            #{dog.good_with_strangers < 3 ? "s'entend pas bien avec les inconnus": "s'entend bien avec les inconnus"}." %>
          </p>
        </div>
      <% end %>
    </div>

    <div class="tinder--buttons">
      <button id="nope" data-action="click->tindogs#nope"><i class="fa fa-remove"></i></button>
      <button id="love" data-action="click->tindogs#love"><i class="fa fa-heart"></i></button>
    </div>
  </div>

  <%= render "shared/footer" %>

</div>
