
<div class="app_container tindog-background">
<%= simple_form_for @tindog do |f| %>
  <%= f.submit "match", class: "btn btn-primary" %>
  <%= f.input :receiver_id, :as => :hidden, :input_html => { :value => @dog.id } %>
<% end %>
  <div class="center-everything">
    <%= cl_image_tag @dog.photo.key, class:"avatar-large", crop: :fill %>
    <h2> <%= @dog.name %> </h2>
    <div class="description-tindog">
      <h3> <%=
      "#{@dog.sexe}
      #{@dog.neutered ? (@dog.sexe == "Femelle" ? "stérilisée": "stérilisé") : (@dog.sexe == "Femelle" ? "non stérilisée": "non stérilisé")}
      de #{@dog.age} ans."
      %> </h3>
      <p> <%=
      "#{@dog.name} est un #{@dog.breed} #{@dog.energy < 3 ? "plutôt calme": "qui a besoin de se dépenser"}, et qui
      #{@dog.good_with_strangers < 3 ? "s'entend pas bien avec les inconnus": "s'entend bien avec les inconnus"}."
      %> </p>
        <div class="card-trip-infos">
          <img src="https://images.emojiterra.com/openmoji/v13.1/512px/274c.png" class="card-trip-user-cross avatar-bordered" />
          <div class="avatar-bordered card-trip-user-heart">
            <img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f49a.gif" class="" />
          </div>
        </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
