<div class="app_container">
  <div class="message-container tindog-background">
  <h1>Discussions</h1>
    <% @matches.each do |match| %>
      <div class="message-card">
      <% if match.users.include?(current_user) %>
        <% if match.users.first == current_user  %>
          <%= link_to(match_path(match), class:"text-decoration-none text-dark flex") do %>
            <%= cl_image_tag match.users.last.dog.photo.key, class:"avatar", crop: :fill %>
            <div>
              <strong> <%= match.users.last.username %> </strong>
              <p> Propriétaire de <%= match.users.last.dog.name %> </p>
            </div>
          <% end %>
        <% else  %>
          <%= link_to(match_path(match), class:"text-decoration-none text-dark flex") do %>
            <%= cl_image_tag match.users.first.dog.photo.key, class:"avatar", crop: :fill %>
            <div>
              <strong> <%= match.users.first.username %> </strong>
              <p> Propriétaire de <%= match.users.first.dog.name %> </p>
            </div>
          <% end %>
        <% end %>
      <% end %>



      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
