<div class="container match"
     data-controller="match-subscription"
     data-match-subscription-match-id-value="<%= @match.id%>"
     data-match-subscription-current-user-id-value="<%= current_user.id%>"
>
  <div class="top">
    <%= link_to(matches_path, class:"text-decoration-none") do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <h3> <%= @user.username %> </h3>
  </div>


  <div class="messages"
       data-match-subscription-target="messages"
  >
    <% @messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
        <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

    <%= simple_form_for [@match, @message],
    html: { data: { action: "turbo:submit-end->match-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Envoyer", class: "btn btn-primary ms-3 mb-3 rounded-pill" %>
  <% end %>
</div>
