<div class="card-product">
  <%= image_tag "balade.jpg"%>
  <div class="card-product-infos">
    <h2><%= walk.title %></h2>
      <ul>
        <li>
          <p><%= walk.distance %> km</p>
        </li>
        <li>
          <%= walk.difficulty %>
        </li>
        <li>
          <%= walk.city %>
        </li>
      </ul>
  </div>
</div>
