<div class="app_container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">

  <%= render "shared/search" %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div id="">
          <% if @walks.any? %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%# <nav id="menu">
    <a id="contours" href="#" class>contours</a>
    <a id="museums" href="#" class>museums</a>
  </nav> %>

  <div class="indexmap" id="map" data-map-target="map">
  </div>


  <div class="contain">
    <%= filter("difficulty", "facile", "facile") %>
    <%= filter("duration", "60", "Inferieur à 1h") %>     
</div>

  <%= render "shared/footer" %>

</div>

