<div class="app_container indexmap"

    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">

  <%= render "shared/search" %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="">
          <% if @walks.any? %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%# <nav id="menu">
    <a id="contours" href="#" class>contours</a>
    <a id="museums" href="#" class>museums</a>
  </nav> %>

  <div class="indexmap" id="map" data-map-target="map">
  </div>

  <div class="filters">
    <div class="filter-icon"><i class="fa-solid fa-sliders"></i></div>
    <%= filter("difficulty", "facile", "Facile") %>
    <%= filter("difficulty", "moyen", "Moyen") %>
    <%= filter("difficulty", "difficile", "Difficile") %>
    <%= filter("duration", "60", "Moins de 1h ") %>
    <%= filter("distance", "5", "Moins de 5km") %>
  </div>
  <%= render "shared/footer" %>
</div>
