<div class="app_container" >

  <div>
    <%= link_to(dog_walks_path(current_user.dog), class:"text-decoration-none return-btn") do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>

    <div class="showmap"
      data-controller="map"
      data-map-target="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-type-value="<%= @walk_geometry["type"] %>"
      data-map-coordinates-value="<%= @walk_geometry["coordinates"] %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
    </div>

    <div class ="walk-card">

      <h2><%= @walk.title%></h2>
      <div class="walk-infos">
        <p> <strong> <i class="fa-solid fa-location-dot" ></i> </strong> <%= @walk.city %></p>
        <p> <strong> <i class="fa-solid fa-arrow-trend-up" ></i></strong> <%= @walk.difficulty.capitalize %></p>
      </div>
      <div class="walk-infos">
        <p> <strong> <i class="fa-regular fa-map" ></i> </strong> <%= @walk.distance %> km</p>
        <p><strong> <i class="fa-regular fa-clock"></i></strong> <%= @walk.duration.to_i >= 60 ? Time.at(@walk.duration.to_i * 60).utc.strftime("%Hh%M") : Time.at(@walk.duration.to_i * 60).utc.strftime("%Mmin")  %></p>
      </div>
      <div class="walk-description">
       <% if @walk.city == "Lyon"  %>
        <%= image_tag "lyon.jpg", class: "walk-photo"%>
      <% else %>
        <%= image_tag "grand-parc-de-miribel.jpg", class:"walk-photo"%>
      <% end %>
        <p><%=@walk.description %></p>
      </div>

    </div>

  </div>

  <%= render "shared/footer" %>
</div>
